<div class="col-md-12">
<%= form_for @game do |f| %>
	<div class="form-group">
		<%= f.label :winner %>
                <%= f.collection_select :winner, Player.order(:name), :id, :name, {}, {required: true, class: 'form-control'} %>
        	<%= f.text_field :winner, class: "form-control", :placeholder => 'PlayerA' %>
	</div>
	<div class="form-group">
        	<%= f.label :losers %> <i>(Comma separated list of names)</i>
		<%= f.text_field :losers, class: "form-control", :placeholder => 'PlayerB,PlayerC,PlayerD' %>
	</div>
	<div class="form-group">
		<%= f.submit "Submit", class: "btn btn-danger"  %>
	</div>
<% end %>

<% if @game.errors.full_messages.any? %>
    <div class="alert alert-danger">
        <ul>
            <% @game.errors.full_messages.each do |message| %>
                <li>
                    <%= message %>
                </li>
            <% end %>
        </ul>
    </div>
<% end %>

</div>
