<div class="col-md-12">
<%= form_tag("/league_stats/new", method: "post") do %>
  <%= label_tag :include_player %><br>
  <%= text_field_tag :include_player %>
  <br>
  <br>
<!--   <%= label_tag :date %><br>
  <%= text_field_tag :date%> -->
  <p>
    <%= submit_tag("Submit") %>
  </p>
<% end %>
</div>